<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="ntlmFilter" class="no.kantega.securityapi.impl.ntlm.web.filter.SpringConfigurableNtlmHttpFilter">
        <property name="properties">
            <props>
                <prop key="jcifs.http.domainController">${ntlm.domainController}</prop>
                <prop key="jcifs.util.loglevel">6</prop>
            </props>
        </property>

    </bean>

    <bean id="ntlmIdentityResolver" class="no.kantega.security.api.impl.ntlm.NtlmIdentityResolver"/>

    <bean id="sessionStore" class="no.kantega.security.api.impl.dbsession.dao.DbSessionStore">
        <property name="dataSource" ref="dataSource"/>
        <property name="createTables" value="false"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${dataSource.driver}"/>
        <property name="url" value="${dataSource.url}"/>
        <property name="username" value="${dataSource.username}"/>
        <property name="password" value="${dataSource.password}"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="/WEB-INF/config.properties"/>
    </bean>

</beans>